$blue: #3a30f8;
$gray: #f0efef;
$lightBlue: #00b6f1;
$red: #e23232;
$yellow: #e2e837;


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
}

.video {
  position: absolute;
  right: 0;
  top: 100px;
  z-index: -5;

  &__controls {
    float: left;
    top: 75px;
    left: 64px;
    position: relative;
  }

  &__text {
    float: left;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    line-height: 14px;
    margin-top: 21px;
    text-transform: uppercase;
    transform: rotateZ(-90deg);
    width: 74px;
  }

  &__arrow {
    top: 78px;
    left: 7px;
    position: absolute;
  }

  &__play {
    left: -24px;
    position: relative;
  }

  &__poster {
    z-index: -5;
  }

}

.image-right {
  position: absolute;
  right: 88px;
  top: 83px;
}

.clearfix {
  clear: both;
  content: '';
  display: table;
}

.header {
  height: 950px;

  &__background {
    background: url(../img/sideright.png) left bottom no-repeat;
    height: 950px;
    position: absolute;
    width: 100%;
    z-index: -10;
  }

  &__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    width: 100%;
  }

  &__logo {
    height: 40px;
    float: left;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 510px;
  }

  &__item {
    float: left;
    list-style-type: none;
  }

  &__link-item {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 5px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__link-item--underline::before {
    border-bottom: solid $blue 1px;
    content: '';
    height: 20px;
    left: -4px;
    position: absolute;
    top: 4px;
    width: 20px;
  }

  &__title {
    font-family: "Rubik Mono One", sans-serif;
    font-size: 80px;
    letter-spacing: 6px;
    margin-bottom: 20px;
    margin-top: 175px;
    width: 660px;
  }

  &__title--nospacing {
    letter-spacing: -10px;
  }

  &__text {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 30px;
    margin: 0;
    text-transform: uppercase;
    width: 330px;
  }

  &__title-arrow {
    margin: 35px 31px;
  }

}

.advantages {
  background: url(../img/sideleft.png) right 190px top no-repeat;
  height: 1200px;
  position: relative;

  &__video {
    float: left;
    margin-top: 100px;
    position: relative;
    width: 745px;

    &-play {
      left: 50.8%;
      width: 40px;
    }

    &-play,
    &-play-round {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    &-play-round {
      left: 50%;
      width: 100px;
    }

  }

  &__flex-container {
    box-sizing: border-box;
    display: flex;
    height: 1200px;
    justify-content: flex-end;
    padding: 200px 0 0 10px;
  }

  .section-title {
    color: $blue;
    margin-top: 0;
  }

}

.section-title {
  font-size: 20px;
  letter-spacing: 1.4px;
  margin-bottom: 84px;
  text-transform: uppercase;
}

.feature {
  font-size: 18px;
  height: fit-content;
  position: relative;
  width: 283px;

  &__title {
    font-family: "Rubik Mono One", sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 25px;
  }

  &__text {
    line-height: 30px;
    width: 250px;
  }

  &__list {
    padding-left: 37px;
  }

  &__item {
    line-height: 30px;
    list-style-image: url(../img/list.png);
    padding: 11px 0 11px 5px;
  }

  &__arrow {
    left: -60px;
    position: absolute;
    top: 57px;
  }

  &__small-arrow {
    right: 37px;
    position: absolute;
    top: 43px;
  }

  &__image {
    left: -100px;
    position: relative;
    top: 12px;
  }

  &__palette {
    margin-top: 40px;
    position: relative;
  }

  &__palette-color {
    border-radius: 50%;
    float: left;
    height: 20px;
    margin: 17px;
    width: 20px;
  }

  &__palette-color--yellow {
    background-color: $yellow;
  }

  &__palette-color--blue {
    background-color: $lightBlue;
  }
  
  &__palette-color--red {
    background-color: $red;
  }

  &__palette-color--gray {
    background-color: $gray;
  }

  &__palette-color--black {
    background-color: #000;
  }

  &__indicators {
    float: left;
  }

  &__indicators--margin {
    margin-right: 70px;
  }

  &__number {
    color: $blue;
    font-family: "Rubik Mono One", sans-serif;
    font-size: 60px;
    margin: 40px 0 0;
    letter-spacing: -2px;
  }

  &__number-small {
    font-size: 24px;
    letter-spacing: -1px;
    margin-left: 5px;
  }

  &__indicator-description {
    color: #666666;
    font-size: 16px;
    margin-top: 7px;
    line-height: 25px;
    width: 120px;
  }

  &__indicator-description--padding {
    padding-left: 10px;
  }

}

.feature--wide {
  padding-top: 140px;
  width: 372px;

  .feature__text {
    width: 100%;
  }

}

.feature--margin {
  margin-top: 310px;
  margin-left: 130px;
}

.modes {
  background: url(../img/sideright.png) left top 30px no-repeat;
  height: 1035px;
  position: relative;

  .video__controls {
    left: 80px;
    margin-top: 515px;
  }

  .video__arrow {
    top: 98px;
    left: -48px;
  }

}