$blue: #3a30f8;
$gray: #f0efef;
$lightBlue: #00b6f1;
$red: #e23232;
$yellow: #e2e837;


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
}

.section__side-image {
  position: absolute;
  right: 88px;
  top: 83px;
}

.section__background {
  background: url(../img/sideleft.png) left bottom no-repeat;
  height: 950px;
  position: absolute;
  width: 100%;
  z-index: -10;
}

.section-title {
  font-size: 20px;
  letter-spacing: 1.4px;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.clearfix {
  clear: both;
  content: '';
  display: table;
}

.header {
  height: 950px;

  &__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    width: 100%;
  }

  &__logo {
    height: 40px;
    float: left;
  }

  &__burger-menu {
    display: none;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 495px;
  }

  &__item {
    float: left;
    list-style-type: none;
  }

  &__link-item {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 5px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__link-item--underline::before {
    border-bottom: solid $blue 1px;
    content: '';
    height: 20px;
    left: -4px;
    position: absolute;
    top: 4px;
    width: 20px;
  }

  &__title {
    font-family: "Rubik Mono One", sans-serif;
    font-size: 80px;
    letter-spacing: 6px;
    margin-bottom: 20px;
    margin: 178px 0 12px;
    width: 660px;
  }

  &__title--nospacing {
    letter-spacing: -12px;
  }

  &__text {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 30px;
    margin: 0;
    text-transform: uppercase;
    width: 330px;
  }

  &__title-arrow {
    margin: 35px 31px;
  }

}

.video {
  position: absolute;
  right: 0;
  top: 100px;
  z-index: -5;

  &__controls {
    float: left;
    top: 75px;
    left: 64px;
    position: relative;
  }

  &__text {
    float: left;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    line-height: 14px;
    margin-top: 21px;
    text-transform: uppercase;
    transform: rotateZ(-90deg);
    width: 74px;
  }

  &__arrow {
    top: 78px;
    left: 7px;
    position: absolute;
  }

  &__play {
    left: -24px;
    position: relative;
  }

  &__poster {
    z-index: -5;
  }

}

.advantages {
  background: url(../img/sideright.png) right 190px top no-repeat;
  height: 1220px;
  position: relative;

  &__video {
    float: left;
    margin-top: 100px;
    max-width: 745px;
    position: relative;
    width: 745px;

    &-play {
      left: 50.8%;
      width: 40px;
    }

    &-play,
    &-play-round {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    &-play-round {
      left: 50%;
      width: 100px;
    }

    &-poster {
      width: 100%;
    }

  }

  &__flex-container {
    box-sizing: border-box;
    display: flex;
    height: 1200px;
    justify-content: flex-end;
    padding: 200px 0 0 10px;
  }

  .section-title {
    color: $blue;
    margin-top: -12px;
  }

}

.feature {
  font-size: 18px;
  height: fit-content;
  position: relative;
  width: 283px;

  &__title {
    font-family: "Rubik Mono One", sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }

  &__text {
    line-height: 30px;
    width: 250px;
  }

  &__list {
    padding-left: 37px;
  }

  &__item {
    line-height: 30px;
    list-style-image: url(../img/list.png);
    padding: 8px 0 8px 5px;
  }

  &__arrow {
    left: -60px;
    position: absolute;
    top: 57px;
  }

  &__small-arrow {
    right: 24px;
    position: absolute;
    top: 43px;
  }

  &__image {
    left: -100px;
    position: relative;
    top: 12px;
  }

  &__palette {
    margin-top: 40px;
    position: relative;
  }

  &__palette-color {
    border-radius: 50%;
    cursor: pointer;
    float: left;
    height: 20px;
    margin: 17px;
    width: 20px;
  }

  &__palette-color--yellow {
    background-color: $yellow;
  }

  &__palette-color--blue {
    background-color: $lightBlue;
  }
  
  &__palette-color--red {
    background-color: $red;
  }

  &__palette-color--gray {
    background-color: $gray;
  }

  &__palette-color--black {
    background-color: #000;
  }

  &__indicators {
    float: left;
  }

  &__indicators--margin {
    margin-right: 70px;
  }

  &__number {
    color: $blue;
    font-family: "Rubik Mono One", sans-serif;
    font-size: 60px;
    margin: 40px 0 0;
    letter-spacing: -2px;
  }

  &__number-small {
    font-size: 24px;
    letter-spacing: -1px;
    margin-left: 5px;
  }

  &__indicator-description {
    color: #666666;
    font-size: 16px;
    margin-top: 7px;
    line-height: 25px;
    width: 120px;
  }

  &__indicator-description--padding {
    padding-left: 10px;
  }

}

.feature--wide {
  padding-top: 140px;
  width: 372px;

  .feature__text {
    width: 100%;
  }

}

.feature--margin {
  margin-top: 315px;
  margin-left: 130px;
}

.modes {
  height: 1000px;
  position: relative;

  .video__controls {
    left: 80px;
    margin-top: 515px;
  }

  .video__arrow {
    top: 98px;
    left: -48px;
  }

}

.footer {
  background: url(../img/footerside.jpg) no-repeat;
  background-color: #3a2ff8;
  color: #fff;
  position: relative;

  &__image {
    box-shadow: -4px 8px 7px #0000002f;
    max-width: 1170px;
    position: absolute;
    right: 0;
    top: -60px;
    width: 65%;
  }

  .section-title {
    padding-top: 92px;
    font-weight: 400;
  }

  &__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
    width: 340px;
  }

  &__link {
    color: $blue;
    display: inline-block;
    font-weight: 600;
    background-color: #fff;
    border-radius: 30px;
    letter-spacing: 1px;
    margin-top: 80px;
    padding: 15px 46px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__bottom {
    background-color: #292929;
    color: #605f5f;
    font-size: 14px;
    margin-top: 220px;
    padding: 5px 0;
    text-align: center;
  }

}

@media screen and (max-width: 1700px) {

  .advantages {
    background-position: right 70px top;
    height: auto;

    &__video {
      margin-top: 300px;
      width: 35%;
    }

    &__flex-container {
      height: auto;
      justify-content: space-around;
      padding: 100px 20px;
    }

  }

  .modes {

    .video {

      &__controls {
        margin-top: 460px;
      }

      &__arrow {
        left: -25px;
        width: 145px;
      }

      &__poster {
        width: 900px;
      }

    }

  }

  .feature--margin {
    margin: 150px 0 0;
  }

  .feature__indicator-description {
    color: #000;
  }

  .section__side-image {
    right: 2%;
  }

  .footer__bottom {
    margin-top: 120px;
  }

}

@media screen and (max-width: 1250px) {

  .header {
    height: auto;

    &__background {
      background-position-y: 50px;
      background-size: 390px;
      height: 740px;
    }

    &__nav {
      padding: 25px 0;
    }

    &__menu {
      display: none;
    }

    &__burger-menu {
      display: inline-block;
      width: 60px;
    }

    &__title {
      font-size: 60px;
    }

  }

  .section__side-image {
    height: 620px;
    right: 20px;
  }

  .video {

    &__poster {
      width: 580px;
    }

  }

  .advantages {
    height: 1100px;

    &__video {
      bottom: 0;
      position: absolute;
      width: 500px;
    }

    &__video-poster {
      width: 100%;
    }

    &__flex-container {
      padding: 100px 0;
      width: 100%;
    }

  }

  .feature--margin {
    margin-top: 250px;
  }

  .modes {
    height: 700px;

    .video {

      &__poster {
        width: 580px;
      }

      &__arrow {
        left: 25px;
        top: 30px;
        width: 90px;
      }

      &__controls {
        margin-top: 230px;
      }

    }

  }

}

@media screen and (max-width: 1050px) {

  .advantages {
    height: 950px;

    &__video {
      width: 350px;
    }

  }

  .feature--margin {
    margin-top: 150px;
  }

  .modes {
    height: 1250px;

    .feature {
      margin: auto;
    }

    .video {
      top: 700px;
    }

  }

  .footer {
    padding-top: 45%;
    background-position: left bottom;

    &__image {
      box-shadow: 4px 8px 7px #0000002f;
      left: 0;
      width: 90%;
    }

    &__content {
      margin: 0 auto;
      width: 340px;
    }

  }

}

@media screen and (max-width: 750px) {

  .header {
    height: 1050px;

    &__title {
      font-size: 50px;
      margin-top: 100px;
      width: 100%;
    }

  }

  .video {
    top: 600px;
    width: 100%;

    &__poster {
      position: absolute;
      right: 0;
      width: 80%;
    }

    &__controls {
      left: 5%;
      top: 30px;
    }

  }
  
  .advantages {
    height: 100%;

    &__video {
      top: 350px;

      &-play,
      &-play-round {
        top: 190px;
      }

    }

    &__flex-container {
      display: block;
    }

  }

  .feature {
    margin: auto;
  }

  .feature--margin {
    margin-top: 530px;
  }

  .modes {

    .video {
      top: 700px;
      width: 100%;
  
      &__poster {
        position: absolute;
        right: 0;
        width: 80%;
      }
  
      &__controls {
        left: 5%;
        top: -100px;
      }

      &__arrow {
        left: 4%;
        top: 0;
        width: 40px;
      }
  
    }

  }

} 

@media screen and (max-width: 470px) {

  .container {
    padding: 0 5px;
  }

  .header {
    height: 1000px;

    &__title {
      font-size: 34px;
      letter-spacing: 1px;
    }

    &__title--nospacing {
      letter-spacing: -8px;
    }

    &__text {
      width: 100%;
    }

  }

  .section__side-image {
    right: 5px;
  }

  .video {
    
    &__controls {
      left: -10px;
    }

  }

  .advantages {
    background-size: 150px;

    &__video {
      width: 300px;

      &-play,
      &-play-round {
        top: 150px;
      }

    }

  }

  .feature {
    max-width: 283px;
    width: 100%;

    &__palette {
      margin: 40px auto 0;
    }

    &__palette-color {
      margin: 10px;
    }

    &__small-arrow {
      right: 16px;
    }

    &__arrow {
      height: 150px;
      left: 30px;
      top: 140px;
    }

    &__image {
      left: 0;
      top: 25px;
      width: 100%;
    }

    &__number {
      font-size: 40px;
    }

    &__number-small {
      font-size: 18px;
    }

    &__indicators--margin {
      margin-right: 23px;
    }

  }

  .modes {
    height: 1100px;

    .video {

      &__controls {
        left: -10px;
        top: -160px;
      }

      &__arrow {
        display: none;
      }

    }

  }

  .footer {

    &__content {
      max-width: 340px;
      width: 100%;
    }

    &__text {
      width: 100%;
    }

    &__link {
      text-align: center;
    }

  }

}  
