$yellow : #ffe34f;
$pink: #ffbdd3;
$dark-pink: #9c6274;
$red: #ee1f1f;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
}

.video {
  margin-top: 300px;
  position: absolute;
}

.image-right {
  position: absolute;
  right: 0;
}

.clearfix {
  clear: both;
  content: '';
  display: table;
}

.header {

  &__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    width: 100%;
  }

  &__logo {
    height: 40px;
    float: left;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 510px;
  }

  &__item {
    float: left;
    list-style-type: none;
  }

  &__link-item {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 5px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__link-item--underline::before {
    border-bottom: solid #3a30f8 1px;
    content: '';
    height: 20px;
    left: -4px;
    position: absolute;
    top: 4px;
    width: 20px;
  }

  &__title {
    font-family: "Rubik Mono One", sans-serif;
    font-size: 100px;
    margin-top: 200px;
  }

}