body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  overflow: hidden;
}

.preloader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  animation: 1s infinite linear;
}

.loader--central {
  animation-name: rotateCentral;
  border-bottom-color: #000000;
}

.loader--left {
  animation-name: rotateLeft;
  border-top-color: #000000;
}

.loader--right {
  animation-name: rotateRight;
  border-bottom-color: #000000;
}

@keyframes rotateCentral {
  0% {
    transform: translate(-50%, -50%) rotateX(70deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateX(70deg) rotateY(0deg) rotateZ(360deg);
  }
}

@keyframes rotateLeft {
  0% {
    transform: translate(-50%, -50%) rotateX(70deg) rotateY(50deg) rotateZ(50deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateX(70deg) rotateY(50deg) rotateZ(410deg);
  }
}

@keyframes rotateRight {
  0% {
    transform: translate(-50%, -50%) rotateX(-70deg) rotateY(50deg) rotateZ(50deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateX(-70deg) rotateY(50deg) rotateZ(410deg);
  }
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
}

.section__background {
  background: url(../img/sideleft.png) left bottom no-repeat;
  height: 950px;
  position: absolute;
  width: 100%;
  z-index: -10;
}

.section-title {
  font-size: 20px;
  letter-spacing: 1.4px;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.clearfix {
  clear: both;
  content: '';
  display: table;
}

.header {
  height: 950px;
}

.header__nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  width: 100%;
}

.header__logo {
  height: 40px;
  float: left;
}

.header__burger-menu {
  display: none;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 495px;
}

.header__item {
  float: left;
  list-style-type: none;
}

.header__link-item {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 5px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.header__menu .header__link-item--underline::before {
  border-bottom: solid #3a30f8 1px;
  content: '';
  height: 20px;
  left: -4px;
  position: absolute;
  top: 4px;
  width: 20px;
}

.header__link-item::before {
  border-bottom: solid #3a30f8 1px;
  content: '';
  height: 20px;
  left: -4px;
  position: absolute;
  top: 4px;
  transition-duration: 0.5s;
  width: 0;
}

.header__link-item:hover::before {
  width: 105%;
}

.header__title-container {
  margin-top: 178px;
  width: 670px;
}

.header__title {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 80px;
  letter-spacing: 6px;
  margin-bottom: 20px;
  margin: 0;
  width: 670px;
}

.header__title--bottom {
  letter-spacing: -10px;
  margin-bottom: 12px;
}

.header .letter {
  display: inline-block;
}

.header__text {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
  width: 330px;
}

.header__title-arrow {
  margin: 35px 31px;
}

.video {
  position: absolute;
  right: 0;
  top: 100px;
  z-index: -5;
}

.video__controls {
  float: left;
  left: 64px;
  opacity: 0;
  position: relative;
  top: 75px;
}

.video__text {
  float: left;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 0.5px;
  line-height: 14px;
  margin-top: 21px;
  text-transform: uppercase;
  transform: rotateZ(-90deg);
  width: 74px;
}

.video__arrow {
  top: 78px;
  left: 7px;
  position: absolute;
}

.video__play {
  left: -24px;
  position: relative;
  z-index: 5;
}

.video__poster {
  z-index: -5;
}

.advantages {
  background: url(../img/sideright.png) right 190px top no-repeat;
  height: 1230px;
  position: relative;
}

.advantages__video {
  float: left;
  left: -745px;
  margin-top: 100px;
  max-width: 745px;
  position: relative;
  width: 745px;
}

.advantages__video-play {
  left: 50.8%;
  width: 40px;
}

.advantages__video-play, .advantages__video-play-round {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.advantages__video-play-round {
  left: 50%;
  width: 100px;
}

.advantages__video-poster {
  width: 100%;
}

.advantages__flex-container {
  box-sizing: border-box;
  display: flex;
  height: 1200px;
  justify-content: flex-end;
  padding: 200px 0 0 10px;
}

.advantages .section-title {
  color: #3a30f8;
  margin-top: -12px;
}

.feature {
  font-size: 18px;
  height: fit-content;
  position: relative;
  width: 283px;
}

.feature__title {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.feature__text {
  line-height: 30px;
  width: 250px;
}

.feature__list {
  padding-left: 37px;
}

.feature__item {
  line-height: 30px;
  list-style-image: url(../img/list.png);
  padding: 8px 0 8px 5px;
}

.feature__arrow {
  left: -60px;
  position: absolute;
  top: 57px;
}

.feature__small-arrow {
  right: 24px;
  position: absolute;
  top: 43px;
}

.feature__image {
  left: -100px;
  position: relative;
  top: 12px;
}

.feature__palette {
  margin-top: 40px;
  position: relative;
}

.feature__palette-color {
  border-radius: 50%;
  cursor: pointer;
  float: left;
  height: 20px;
  margin: 17px;
  width: 20px;
}

.feature__palette-color--yellow {
  background-color: #e2e837;
}

.feature__palette-color--blue {
  background-color: #00b6f1;
}

.feature__palette-color--red {
  background-color: #e23232;
}

.feature__palette-color--gray {
  background-color: #f0efef;
}

.feature__palette-color--black {
  background-color: #000;
}

.feature__indicators {
  float: left;
}

.feature__indicators--margin {
  margin-right: 70px;
}

.feature__number {
  color: #3a30f8;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 60px;
  margin: 40px 0 0;
  letter-spacing: -2px;
}

.feature__number-small {
  font-size: 24px;
  letter-spacing: -1px;
  margin-left: 5px;
}

.feature__indicator-description {
  color: #666666;
  font-size: 16px;
  margin-top: 7px;
  line-height: 25px;
  width: 120px;
}

.feature__indicator-description--padding {
  padding-left: 10px;
}

.feature--wide {
  padding-top: 140px;
  width: 372px;
}

.feature--wide .feature__text {
  width: 100%;
}

.feature--margin {
  margin-top: 315px;
  margin-left: 130px;
}

.modes {
  height: 1000px;
  position: relative;
}

.modes .video__controls {
  left: 80px;
  margin-top: 515px;
}

.modes .video__arrow {
  top: 98px;
  left: -48px;
}

.footer {
  background: url(../img/footerside.jpg) no-repeat;
  background-color: #3a2ff8;
  color: #fff;
  position: relative;
}

.footer__image {
  box-shadow: -4px 8px 7px #0000002f;
  max-width: 1170px;
  position: absolute;
  right: 0;
  top: -60px;
  width: 65%;
}

.footer .section-title {
  padding-top: 92px;
  font-weight: 400;
}

.footer__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 29px;
  width: 340px;
}

.footer__link {
  color: #3a30f8;
  display: inline-block;
  font-weight: 600;
  background-color: #fff;
  border-radius: 30px;
  letter-spacing: 1px;
  margin-top: 80px;
  padding: 15px 46px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__bottom {
  background-color: #292929;
  color: #605f5f;
  font-size: 14px;
  margin-top: 220px;
  padding: 5px 0;
  text-align: center;
}

@media screen and (max-width: 1700px) {
  .advantages {
    background-position: right 70px top;
    height: auto;
  }
  .advantages__video {
    margin-top: 300px;
    width: 35%;
  }
  .advantages__flex-container {
    height: auto;
    justify-content: space-around;
    padding: 100px 20px;
  }
  .modes .video__controls {
    margin-top: 460px;
  }
  .modes .video__arrow {
    left: -25px;
    width: 145px;
  }
  .modes .video__poster {
    width: 900px;
  }
  .feature--margin {
    margin: 150px 0 0;
  }
  .feature__indicator-description {
    color: #000;
  }
  .footer__bottom {
    margin-top: 120px;
  }
}

@media screen and (max-width: 1250px) {
  .header {
    height: auto;
  }
  .header__background {
    background-position-y: 50px;
    background-size: 390px;
    height: 740px;
  }
  .header__nav {
    background-color: #fff;
    padding: 30px 0 20px;
  }
  .header__title {
    font-size: 60px;
  }
  .section__background {
    background-position-y: 100px;
  }
  .video__poster {
    width: 580px;
  }
  .advantages {
    height: 1100px;
  }
  .advantages__video {
    bottom: 0;
    position: absolute;
    width: 500px;
  }
  .advantages__video-poster {
    width: 100%;
  }
  .advantages__flex-container {
    padding: 100px 0;
    width: 100%;
  }
  .feature--margin {
    margin-top: 250px;
  }
  .modes {
    height: 700px;
  }
  .modes .video__poster {
    width: 580px;
  }
  .modes .video__arrow {
    left: 25px;
    top: 30px;
    width: 90px;
  }
  .modes .video__controls {
    margin-top: 230px;
  }
}

@media screen and (max-width: 1050px) {
  .header__nav {
    box-sizing: border-box;
    height: 100px;
  }
  .header__burger-menu {
    height: 45px;
    display: inline-block;
    width: 60px;
  }
  .header__menu {
    display: none;
  }
  .header__item {
    float: none;
    margin: 60px 0;
  }
  .header__item:first-child {
    margin-top: 25px;
  }
  .header__link-item {
    padding: 20px;
  }
  .header__menu .header__link-item--small:hover::before {
    width: 79%;
  }
  .header__link-item::before,
  .header__menu .header__link-item--underline::before {
    left: 11px;
    top: 19px;
  }
  .header__link-item:hover::before {
    width: 87%;
  }
  .hide-menu {
    display: none;
  }
  .open-menu {
    background-color: #fff;
    display: block;
    left: 0;
    position: absolute;
    text-align: center;
    top: 75px;
    width: 100%;
    z-index: 100;
  }
  .advantages {
    height: 950px;
  }
  .advantages__video {
    width: 350px;
  }
  .feature--margin {
    margin-top: 150px;
  }
  .modes {
    height: 1250px;
  }
  .modes .feature {
    margin: auto;
  }
  .modes .video {
    top: 700px;
  }
  .footer {
    padding-top: 45%;
    background-position: left bottom;
  }
  .footer__image {
    box-shadow: 4px 8px 7px #0000002f;
    left: 0;
    width: 90%;
  }
  .footer__content {
    margin: 0 auto;
    width: 340px;
  }
}

@media screen and (max-width: 750px) {
  .header {
    height: 1050px;
  }
  .header__title-container {
    margin-top: 100px;
    width: 100%;
  }
  .header__title {
    font-size: 50px;
    letter-spacing: 4px;
    width: 100%;
  }
  .header__title--bottom {
    letter-spacing: -10px;
  }
  .video {
    top: 600px;
    width: 100%;
  }
  .video__poster {
    position: absolute;
    right: 0;
    width: 80%;
  }
  .video__controls {
    left: 5%;
    top: 30px;
  }
  .advantages {
    height: 100%;
  }
  .advantages__video {
    top: 350px;
  }
  .advantages__video-play, .advantages__video-play-round {
    top: 190px;
  }
  .advantages__flex-container {
    display: block;
  }
  .feature {
    margin: auto;
  }
  .feature--margin {
    margin-top: 530px;
  }
  .modes .video {
    top: 700px;
    width: 100%;
  }
  .modes .video__poster {
    position: absolute;
    right: 0;
    width: 80%;
  }
  .modes .video__controls {
    left: 5%;
    top: -100px;
  }
  .modes .video__arrow {
    left: 4%;
    top: 0;
    width: 40px;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0 5px;
  }
  .header {
    height: 1000px;
  }
  .header__title {
    font-size: 34px;
    letter-spacing: 1px;
  }
  .header__title--bottom {
    letter-spacing: -7px;
  }
  .header__text {
    width: 100%;
  }
  .video__controls {
    left: -10px;
  }
  .advantages {
    background-size: 150px;
  }
  .advantages__video {
    width: 300px;
  }
  .advantages__video-play, .advantages__video-play-round {
    top: 150px;
  }
  .feature {
    max-width: 283px;
    width: 100%;
  }
  .feature__palette {
    margin: 40px auto 0;
  }
  .feature__palette-color {
    margin: 10px;
  }
  .feature__small-arrow {
    right: 16px;
  }
  .feature__arrow {
    height: 150px;
    left: 30px;
    top: 140px;
  }
  .feature__image {
    left: 0;
    top: 25px;
    width: 100%;
  }
  .feature__number {
    font-size: 40px;
  }
  .feature__number-small {
    font-size: 18px;
  }
  .feature__indicators--margin {
    margin-right: 23px;
  }
  .modes {
    height: 1100px;
  }
  .modes .video__controls {
    left: -10px;
    top: -160px;
  }
  .modes .video__arrow {
    display: none;
  }
  .footer .section-title {
    padding-top: 0;
  }
  .footer__content {
    max-width: 340px;
    width: 100%;
  }
  .footer__text {
    width: 100%;
  }
  .footer__link {
    text-align: center;
  }
}
