body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
}

.video {
  position: absolute;
  right: 0;
  top: 100px;
  z-index: -5;
}

.video__controls {
  float: left;
  top: 75px;
  left: 64px;
  position: relative;
}

.video__text {
  float: left;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 0.5px;
  line-height: 14px;
  margin-top: 21px;
  text-transform: uppercase;
  transform: rotateZ(-90deg);
  width: 74px;
}

.video__arrow {
  top: 78px;
  left: 7px;
  position: absolute;
}

.video__play {
  left: -24px;
  position: relative;
}

.video__poster {
  z-index: -5;
}

.image-right {
  position: absolute;
  right: 88px;
  top: 83px;
}

.clearfix {
  clear: both;
  content: '';
  display: table;
}

.header {
  height: 950px;
}

.header__background {
  background: url(../img/sideright.png) left bottom no-repeat;
  height: 950px;
  position: absolute;
  width: 100%;
  z-index: -10;
}

.header__nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  width: 100%;
}

.header__logo {
  height: 40px;
  float: left;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 495px;
}

.header__item {
  float: left;
  list-style-type: none;
}

.header__link-item {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 5px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.header__link-item--underline::before {
  border-bottom: solid #3a30f8 1px;
  content: '';
  height: 20px;
  left: -4px;
  position: absolute;
  top: 4px;
  width: 20px;
}

.header__title {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 80px;
  letter-spacing: 6px;
  margin-bottom: 20px;
  margin: 178px 0 12px;
  width: 660px;
}

.header__title--nospacing {
  letter-spacing: -12px;
}

.header__text {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
  width: 330px;
}

.header__title-arrow {
  margin: 35px 31px;
}

.advantages {
  background: url(../img/sideleft.png) right 190px top no-repeat;
  height: 1220px;
  position: relative;
}

.advantages__video {
  float: left;
  margin-top: 100px;
  position: relative;
  width: 745px;
}

.advantages__video-play {
  left: 50.8%;
  width: 40px;
}

.advantages__video-play, .advantages__video-play-round {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.advantages__video-play-round {
  left: 50%;
  width: 100px;
}

.advantages__flex-container {
  box-sizing: border-box;
  display: flex;
  height: 1200px;
  justify-content: flex-end;
  padding: 200px 0 0 10px;
}

.advantages .section-title {
  color: #3a30f8;
  margin-top: -12px;
}

.section-title {
  font-size: 20px;
  letter-spacing: 1.4px;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.feature {
  font-size: 18px;
  height: fit-content;
  position: relative;
  width: 283px;
}

.feature__title {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.feature__text {
  line-height: 30px;
  width: 250px;
}

.feature__list {
  padding-left: 37px;
}

.feature__item {
  line-height: 30px;
  list-style-image: url(../img/list.png);
  padding: 8px 0 8px 5px;
}

.feature__arrow {
  left: -60px;
  position: absolute;
  top: 57px;
}

.feature__small-arrow {
  right: 37px;
  position: absolute;
  top: 43px;
}

.feature__image {
  left: -100px;
  position: relative;
  top: 12px;
}

.feature__palette {
  margin-top: 40px;
  position: relative;
}

.feature__palette-color {
  border-radius: 50%;
  float: left;
  height: 20px;
  margin: 17px;
  width: 20px;
}

.feature__palette-color--yellow {
  background-color: #e2e837;
}

.feature__palette-color--blue {
  background-color: #00b6f1;
}

.feature__palette-color--red {
  background-color: #e23232;
}

.feature__palette-color--gray {
  background-color: #f0efef;
}

.feature__palette-color--black {
  background-color: #000;
}

.feature__indicators {
  float: left;
}

.feature__indicators--margin {
  margin-right: 70px;
}

.feature__number {
  color: #3a30f8;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 60px;
  margin: 40px 0 0;
  letter-spacing: -2px;
}

.feature__number-small {
  font-size: 24px;
  letter-spacing: -1px;
  margin-left: 5px;
}

.feature__indicator-description {
  color: #666666;
  font-size: 16px;
  margin-top: 7px;
  line-height: 25px;
  width: 120px;
}

.feature__indicator-description--padding {
  padding-left: 10px;
}

.feature--wide {
  padding-top: 140px;
  width: 372px;
}

.feature--wide .feature__text {
  width: 100%;
}

.feature--margin {
  margin-top: 315px;
  margin-left: 130px;
}

.modes {
  background: url(../img/sideright.png) left top 30px no-repeat;
  height: 1000px;
  position: relative;
}

.modes .video__controls {
  left: 80px;
  margin-top: 515px;
}

.modes .video__arrow {
  top: 98px;
  left: -48px;
}

.footer {
  background: url(../img/sideright.png) no-repeat;
  background-color: #3a2ff8;
  color: #fff;
  height: 810px;
  position: relative;
}

.footer__image {
  box-shadow: 2px 2px 2px;
  position: absolute;
  right: 0;
  top: -60px;
}

.footer .section-title {
  padding-top: 92px;
  font-weight: 400;
}

.footer__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 29px;
  width: 340px;
}

.footer__link {
  color: #3a30f8;
  display: inline-block;
  font-weight: 600;
  background-color: #fff;
  border-radius: 30px;
  letter-spacing: 1px;
  margin-top: 80px;
  padding: 15px 46px;
  text-decoration: none;
  text-transform: uppercase;
}
